{% extends 'base.html' %}

{% block pageheading %}
Signup
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Edit account</h4>
        <!--First & last name, username, email, password, category w/ checkbox-->
        <form class="myform" method="POST">
            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="user_fname" checked>
                    First name:
                </div>
                <div class="form-element"><input type="text" name="user_fname" class="user_fname" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="user_lname" checked>
                    Last name:
                </div>
                <div class="form-element"><input type="text" name="user_lname" class="user_lname" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="user_username" checked>
                    Username:
                </div>
                <div class="form-element"><input type="text" name="user_username" class="user_username" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="email" checked>
                    Email:
                </div>
                <div class="form-element"><input type="email" name="email" class="email" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="password" id="password" checked>
                    Password:
                </div>
                <div class="form-element"><input type="password" name="password" class="password" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="password" id="password2" checked>
                    Confirm Password:
                </div>
                <div class="form-element"><input type="password" name="password2" class="password" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">
                    <input type="checkbox" class="category" id="category">
                    Are you a:
                </div>
                <div style="padding-top: 1.5%">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="category form-check-input" name="category" value="Student" disabled>Student
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="category form-check-input" name="category" value="Teacher" disabled>Teacher
                        </label>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Save" class="btn btn-primary">Save</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}