{% extends 'base.html' %}

{% block pageheading %}
Login
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Login</h4>
        <!--Email, password-->
        <form class="myform" method="POST">
            <div class="form-set">
                <div class="form-label">Email:</div>
                <div class="form-element"><input type="email" name="email" class="email" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" class="password" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Login" class="btn btn-primary">Login</button>
            </div>
        </form>

        <p>If you don't have yet an account, please <a href="/signup_account">sign up</a>.</p>
    </center>
</div>
{% endblock %}