{% extends 'base.html' %}

{% block pageheading %}
Signup
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Signup</h4>
        <form class="myform" method="POST">
            <div class="form-set">
                <div class="form-label">First name:</div>
                <div class="form-element"><input type="text" name="user_fname" id="user_fname" required></div>
            </div>
            <div class="error">{{ fname_error }}</div>

            <div class="form-set">
                <div class="form-label">Last name:</div>
                <div class="form-element"><input type="text" name="user_lname" id="user_lname" required></div>
            </div>
            <div class="error">{{ lname_error }}</div>

            <div class="form-set">
                <div class="form-label">Username:</div>
                <div class="form-element"><input type="text" name="user_username" id="user_username" required></div>
            </div>
            <div class="error">{{ username_error }}</div>

            <div class="form-set">
                <div class="form-label">Email:</div>
                <div class="form-element"><input type="email" name="email" id="email" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" id="password" required></div>
            </div>
            <div class="error">{{ error }}</div>

            <div class="form-set">
                <div class="form-label">Confirm Password:</div>
                <div class="form-element"><input type="password" name="password2" id="password2" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Are you a:</div>
                <div style="padding-top: 1.5%">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="category" id="category" value="Student" checked>Student
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="category" id="category" value="Teacher">Teacher
                        </label>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Signup" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}