{% extends 'base.html' %}

{% block pageheading %}
Signup
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Signup</h4>
        <!--First & last name, username, email, password, category-->
        <form class="myform" method="POST">
            <div class="form-set">
                <div class="form-label">First name:</div>
                <div class="form-element"><input type="text" name="user_fname" class="user_fname" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Last name:</div>
                <div class="form-element"><input type="text" name="user_lname" class="user_lname" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Username:</div>
                <div class="form-element"><input type="text" name="user_username" class="user_username" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Email:</div>
                <div class="form-element"><input type="email" name="email" class="email" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" class="password" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Confirm Password:</div>
                <div class="form-element"><input type="password" name="password2" class="password2" maxlength="85" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Are you a:</div>
                <div style="padding-top: 1.5%">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="category" value="Student" checked>Student
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="category" value="Teacher">Teacher
                        </label>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Signup" class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}