{% extends 'base.html' %}

{% block pageheading %}
Add word
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Add word</h4>
        <form class="myform" method="POST" action="/addword">
            <div class="form-set">
                <div class="form-label">Maori:</div>
                <div class="form-element"><input type="text" name="word_name" id="word_name" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">English:</div>
                <div class="form-element"><input type="text" name="word_translation" id="word_translation" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Type:</div>
                <div class="form-element">
                    <select id="word_type" name="word_type" required>
                        {% for type in types %}
                        <option value="{{ type[0] }}, {{ type[1] }}">{{ type[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-set">
                <div class="form-label">Definition:</div>
                <div class="form-element"><input type="text" name="word_definition" id="word_definition" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Level:</div>
                <div class="form-element">
                    <select id="word_level" name="word_level" required>
                        {% for level in levels %}
                        <option value="{{ level }}">{{ level }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-set">
                <div class="form-label">Image:</div>
                <div class="form-element">
                    <select id="word_image" name="word_image" required>
                        {% for image in images %}
                        <option value="{{ image[0] }}, {{ image[1] }}">{{ image[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-set">
            <div>
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Signup" class="btn btn-primary">Add</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}