{% extends 'base.html' %}

{% block pageheading %}
Delete word
{% endblock %}

{% block content %}
<div class="form-border">
    <center>
        <h4>Delete word</h4>
        <form class="myform" method="post" action="/deleteword">
            <div class="form-set">
                <div class="form-label"><label for="name">Word: </label></div>
                <div class="form-element">
                    <select name="record_id" required>
                        {% for word in words %}
                        <option value="{{ word[0] }}">{{ word[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-set">
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </center>
</div>
{% endblock %}