<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block pageheading %}
        {% endblock %}
    </title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"
        integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg rounded" id="beach">
        <div class="col-md-3"><div style="color: cyan; text-align: center;">{{log}}</div></div>
        <div class="collapse navbar-collapse">
            <!--Account-->
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link accbtn" href="/">Home</a></li>
                {% if logged_in %}
                {% if teacher %}
                <button class="nav-link accbtn" id="adm">Admin</button>
                <li><a class="nav-link" href="/add_word" id="admin">Add Word</a></li>
                <li><a class="nav-link" href="/delete_word" id="admin">Delete Word</a></li>
                {% endif %}
                <button class="nav-link accbtn" id="acc">Account</button>
                <li><a class="nav-link" href="/logout_account" id="account">Logout</a></li>
                <li><a class="nav-link" href="/delete" id="account">Delete Account</a></li>
                <li><a class="nav-link" href="/edit_account" id="account">Edit Account</a></li>
                {% else %}
                <button class="nav-link accbtn" id="acc">Account</button>
                <li><a class="nav-link" href="/login_account" id="account">Login</a></li>
                {% endif %}
            </ul>

            <!--<form class="form-inline my-2 my-md-0" action="/">
                <input class="form-control" id="query" name="query" type="text" placeholder="Search" aria-label="Search">
            </form>-->
        </div>
    </nav>
    <br>
    {% block content %}{% endblock %}
    <script src="static/js/task.js"></script>
</body>

</html>