{% extends 'base.html' %}

{% block pageheading %}
Home
{% endblock %}

{% block content %}
<div class="words">
    {% for type in types %}
    <ul>
        <li><a class="nav-link" href="/{{ type[1].lower() }}">{{ type[1] }}</a></li>
    </ul>
    {% endfor %}
</div>

<div class="words">
    {% for word in words %}
    <div class="word-box">
        <div class="word-box-heading"><h3>{{ word[0] }}</h3></div>
        <div class="word-box-info">
            <p><strong>Translation:</strong> {{ word[1] }}</p>
            <p><strong>Type:</strong> {{ word[2] }}</p>
            <p><strong>Definition:</strong> {{ word[3] }}</p>
            <p><strong>Level:</strong> {{ word[4] }}</p>
            <p><strong>User:</strong> {{ users[word[5]] }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}