{% extends 'base.html' %}

{% block pageheading %}
Login
{% endblock %}

{% block content %}
<div class="row submit_form">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="myform" method="POST">
            <div class="form-set">
                <div class="form-label">Email:</div>
                <div class="form-element"><input type="email" name="email" id="email" required></div>
            </div>

            <div class="form-set">
                <div class="form-label">Password:</div>
                <div class="form-element"><input type="password" name="password" id="password" required></div>
            </div>

            <div class="form-set">
                <div class="form-label" style="padding: 0.3rem"></div>
                <button type="submit" value="Login" class="btn btn-primary">Login</button>
            </div>
        </form>

        <p>If you don't have yet an account, please <a href="/signup">sign up</a>.</p>
    </div>
</div>
{% endblock %}